/* Docs Pages */
.auidocs-section-header:hover {
    background: #f5f5f5;
}

.component-heading {
    display: inline-block;
}

#sandbox-button, #adg-button {
    float: right;
}

#sandbox-button {
    margin-left: 10px;
}

/* Docs Index pages */

.aui-flatpack-example {
    border: 1px solid #ccc;
    border-radius: 3px;
    margin: 10px 0 20px 0;
    padding: 20px;
}

.aui-flatpack-example.header-example:after {
    clear: both;
    content: "";
    display: table;
}

#dialog-methods .description,
table.aui.aui-docs-options .details {
    min-width: 150px;
}

table pre {
    max-width: 400px;
}

/* Helper Functions Page */
#auidocs-helper-functions-table .function-name-header {
    width: 15%;
}

#auidocs-helper-functions-table .function-description-header {
    width: 25%;
}

#auidocs-helper-functions-table .function-example-header {
    width: 50%;
}

#auidocs-helper-functions-table .function-available-header {
    width: 10%;
}

/* Overrides for docs*/

/* This could be an option in sortable tables for an actions row */
.aui-table-sortable .auidocs-table-actions th,
.aui-table-sortable .auidocs-table-actions th:hover {
    background: transparent;
}

.aui-table-sortable .auidocs-table-actions .aui-table-header-content:after {
    border: 0;
}

.table-icon {
    color: #707070;
}

/* Hide some elements when embedded in a Dash.app docset */

.dash-docset #page > #header,
.dash-docset #content > .aui-page-header,
.dash-docset .aui-page-panel-nav,
.dash-docset #sandbox-button
{
    display: none;
}

.dash-docset #content > .aui-page-panel {
    border-top: none;
}