/* Message icons */
.aui-message {
    padding-left: 36px;

    &:before {
        color: #707070;
        content: "\f23d";
        font-size: 16px;
        font-family: "Atlassian Icons";
        font-weight: normal;
        -webkit-font-smoothing: antialiased; /* Improves the rendering of icons */
        font-style: normal;
        left: 10px;
        line-height: 1;
        position: absolute;
        speak: none; /* This prevents screen readers from pronouncing the pseudo element text content used to trigger the icon font */
        text-indent: 0;
        top: 12px;
    }
    .icon-generic,
    .icon-error,
    .icon-hint,
    .icon-info,
    .icon-success,
    .icon-warning {
        display: none;
    }
}

.aui-message.error:before,
.aui-message-error:before {
    content: "\f228";
    color: #fff;
}
.aui-message.hint:before,
.aui-message-hint:before,
.aui-message.info:before,
.aui-message-info:before {
    content: "\f23d";
}
.aui-message.success:before,
.aui-message-success:before {
    content: "\f262";
    color: #14892c;
}
.aui-message.warning:before,
.aui-message-warning:before {
    content: "\f281";
    color: #f6c342;
}