<!-- Simple Dropdown -->
<p><a href="#dwarfers" aria-owns="dwarfers" aria-haspopup="true" class="aui-dropdown2-trigger">Shipmates</a></p>
<div id="dwarfers" class="aui-dropdown2 aui-style-default">
    <ul class="aui-list-truncate">
        <li><a href="http://example.com/">Lister</a></li>
        <li><a href="http://example.com/">Rimmer</a></li>
        <li><a href="http://example.com/">Cat</a></li>
        <li><a href="http://example.com/">Kryten</a></li>
    </ul>
</div><!-- .aui-dropdown2 -->

<!-- Dropdown With The Lot -->
<p><a href="#dropdown2-all-in" aria-owns="dropdown2-all-in" aria-haspopup="true" class="aui-dropdown2-trigger">Dropdown With The Lot</a></p>
<div id="dropdown2-all-in" class="aui-dropdown2 aui-style-default">
  <div class="aui-dropdown2-section">
    <ul>
      <li><a href="./edit">Edit Issue</a></li>
      <li><a class="disabled" title="You don't have permission to edit this issue.">Edit Issue</a></li>
      <li><a href="#comment-form">Comment</a></li>
    </ul>
  </div>
  <div class="aui-dropdown2-section">
    <ul class="aui-list-truncate">
      <li><a href="./attachments">Truncation ON. Sona si Latine loqueris. Si Hoc Legere Scis Nimium Eruditionis Habes. Sentio aliquos togatos contra me conspirare. Non calor sed umor est qui nobis incommodat. Quantum materiae materietur marmota monax si marmota monax materiam possit materiari? Utinam barbari spatium proprium tuum invadant! Di! Ecce hora! Uxor mea me necabit!</a></li>
    </ul>
  </div>
  <div class="aui-dropdown2-section">
    <strong>Transitions</strong>
    <ul>
      <li><a href="./transition?state=1">Start Progress</a></li>
      <li><a href="./transition?state=4">Close Issue</a></li>
    </ul>
  </div>
  <div class="aui-dropdown2-section">
    <ul>
      <li><a class="aui-dropdown2-radio interactive checked">Option 1</a></li>
      <li><a class="aui-dropdown2-radio interactive">Option 2</a></li>
      <li><a class="aui-dropdown2-radio interactive">Option 3</a></li>
    </ul>
  </div>
  <div class="aui-dropdown2-section">
    <ul>
      <li><a class="aui-dropdown2-checkbox interactive">Check Spelling While Typing</a></li>
      <li><a class="aui-dropdown2-checkbox interactive checked disabled">Enable Gravity</a></li>
    </ul>
  </div>
  <div class="aui-dropdown2-section">
    <ul class="aui-list-truncate">
      <li>
        <a href="http://example.com/" class="aui-icon-container">
          <span class="icon icon-example"></span>
          Icon span pattern
        </a>
      </li>
      <li>
        <a href="http://example.com/" class="aui-icon-container">
          <span class="icon icon-example"></span>
          Econ span pattern with long text to check truncation Sona si Latine loqueris. Si Hoc Legere Scis Nimium Eruditionis Habes. Sentio aliquos togatos contra me conspirare. Non calor sed umor est qui nobis incommodat. Quantum materiae materietur marmota monax si marmota monax materiam possit materiari? Utinam barbari spatium proprium tuum invadant! Di! Ecce hora! Uxor mea me necabit!
        </a>
      </li>
    </ul>
  </div>
</div><!-- .aui-dropdown2 -->

<!-- Dropdown2 group -->
<p>Dropdown group - once you activate a single dropdown, the others in the group should open without needing further clicks. </p>
<div class="aui-dropdown2-trigger-group">
    <a id="aui-dropdown2-group-trigger1" href="#add" aria-owns="add" aria-haspopup="true" class="aui-dropdown2-trigger">Add</a>
    <a id="aui-dropdown2-group-trigger2" href="#attrs" aria-owns="attrs" aria-haspopup="true" class="aui-dropdown2-trigger">Attributes</a>
    <a id="aui-dropdown2-group-trigger3" href="#actions" aria-owns="actions" aria-haspopup="true" class="aui-dropdown2-trigger">Actions</a>

    <div id="add" class="aui-dropdown2 aui-style-default">
      <div class="aui-dropdown2-section">
        <ul>
          <li><a>Page</a></li>
          <li><a>Blog Post</a></li>
        </ul>
      </div>
      <div class="aui-dropdown2-section">
        <ul>
          <li><a>Attachment</a></li>
          <li><a>Comment</a></li>
        </ul>
      </div>
      <div class="aui-dropdown2-section">
        <ul>
          <li><a>Gliffy Diagram</a></li>
          <li><a>UI Mockup</a></li>
        </ul>
      </div>
    </div>

    <div id="attrs" class="aui-dropdown2 aui-style-default">
      <div class="aui-dropdown2-section">
        <ul>
          <li><a>History</a></li>
          <li><a>Page Information</a></li>
          <li><a>Short URL</a></li>
          <li><a>Show in Hierarchy</a></li>
        </ul>
      </div>
      <div class="aui-dropdown2-section">
        <ul>
          <li><a>Attachments</a></li>
          <li><a>Watchers</a></li>
        </ul>
      </div>
    </div>

    <div id="actions" class="aui-dropdown2 aui-style-default">
      <div class="aui-dropdown2-section">
        <ul>
          <li><a>Add to Favourites</a></li>
          <li><a>Watch This Page</a></li>
        </ul>
      </div>
      <div class="aui-dropdown2-section">
        <ul>
          <li><a>Move</a></li>
          <li><a>Duplicate</a></li>
          <li><a>Delete</a></li>
        </ul>
      </div>
    </div>
</div><!-- .aui-dropdown2-trigger-group -->
